.WeatherCardWrapper {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction:column;
    gap: 5px;
    padding: 0px 80px;
    justify-content: center;
}

.WeatherCardImage {
    height: auto;
    width: 120px;
}

.WeatherCardImage svg {
    height: 40px;
    padding: 20px;
    width: 100%;
}